<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="javaScriptBuilder"
         name="JavaScript Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.selman.js.builder.JavaScriptBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="javaScriptNature"
         name="JavaScript Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.selman.js.builder.JavaScriptNature">
         </run>
      </runtime>
      <builder
            id="org.selman.js.builder.javaScriptBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.selman.js.builder.contribution1">
         <action
               label="Add/Remove JavaScript Nature"
               class="org.selman.js.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.selman.js.builder.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="jsProblem"
         name="JavaScript Builder Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.selman.js.builder.preferences.BuilderPreferencePage"
            id="org.selman.js.builder.preferences.BuilderPreferencePage"
            name="JavaScript Builder Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.selman.js.builder.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
